* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html { 
    height: 100%; 
}
body { 
    min-height: 100%; 
}

.mainGridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "mainHeader"
    "mainNav"
    "mainContainer";
}

/* STARTs Main Header*/
.mainHeader {
    align-items: center;
    background-color: #09aeb9;
    display: flex;
    grid-area: mainHeader;
    justify-content: space-between;
    padding: 0 20px;
}

.mainHeader .headerLogo h1 {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
}

.mainHeader .headerLogo h1 span {
    font-weight: 700;
}

.mainHeader .headerNav {
    align-items: center;
    display: flex;
}

.mainHeader .headerNav .notifications svg {
    display: block;
    height: 24px;
    width: 24px;
}

.mainHeader .headerNav .divider {
    background-color: #FFF;
    display: block;
    height: 50px;
    margin: 0 20px;
    width: 1px;
}

.mainHeader .headerNav .profile img {
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.mainHeader .headerNav .name {
    padding-left: 10px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
}

.circle {
    height: 10px;
    width: 10px;
    border: 1px solid black;
}

.mainHeader .iconFill {
    fill:#FFFFFF;
}

.notifications {
    transition: transform 1s ease-in-out;
}

.notifications:hover {
    transform: rotate(360deg);
}
/* ENDs Main Header*/


/* STARTs Main Nav*/
.mainNav {
    background-color: #b38fc2;
    display: flex;
    grid-area: mainNav; 
    justify-content: center;
}

.mainNav img {
    padding: 10px;
    height: 50px;
    width: 60px;
}
/* ENDs Main Nav*/


/* STARTs Main Container*/
.mainContainer {
    grid-area: mainContainer; 
}

.mainTab {
    justify-content: space-between;
    display: flex;
}

.main h2 {
    color: #09aeb9;
    font-size: 25px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    padding: 25px 25px;
}

.mainContainer .mainSearch  {
    align-items: center;
    background-color: rgba(214, 210, 210, 0.651);
    display: flex;
    height: 60px;
    justify-content: flex-end;
    padding-right: 20px;
    width: 400%;
}

.mainContainer .mainSearch input {
    appearance: none;
    border: 0;
    border: 1px solid rgb(116,116,116);
    border-radius: 4px;
    display: block;
    height: 40px;
    line-height: 20px;
    padding: 10px 15px;
    width: 40%;
}
/* ENDs Main Container*/



.alertBanner {
    display: flex;
}



/* STARTs Main Traffic*/
.mainTraffic {
    color: rgb(119, 118, 118);
    display: block;
    font-size: 15px;
    font-weight: 700;
    justify-content: space-between;
    line-height: 30px;
    padding: 15px 25px;
    border-bottom: 1px solid lightgray;
}

.trafficHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

#mainTraffic h3 {
    font-size: 20px;
}

.trafficNav {
    display: flex;
}

.trafficNavLink {
    padding-right: 20px;
}
/* ENDs Main Traffic*/



.dailyTraffic {
    align-items: center;
    color: rgb(119, 118, 118);
    padding-bottom: 30px;
}

.mobileChart {
    align-items: center;
    color: rgb(119, 118, 118);
    padding-bottom: 30px;
    border-top: 1px solid lightgray;
}

.socialStats {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 20px 20px;
}

.newMembersContainer, 
.recentActivityContainer {
    border-right: 1px solid rgb(116,116,116);
    border-bottom: 1px solid rgb(116,116,116);
    color: rgb(119, 118, 118);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messageUserWidget {    
    border-bottom: 1px solid rgb(116,116,116);
    flex-direction: column;
}

.settingsContainer {
    color: rgb(119, 118, 118);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px; 
    padding-bottom: 35px;
}

/* Butttons */
.btnNeutral, 
.btnPositive {
  cursor: pointer;
  outline: 0;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  padding: 16px 0;
  display: block;
  width: 100%;
  background: #7477BF;
}


@media (min-width: 768px) {
    .mainHeader {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "mainHeader mainHeader"
        "mainNav mainContainer";
    }

    .mainNav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .mainContainer {
        grid-template-columns: 50%;
    }

    .dailyTraffic,
    .mobileChart,
    .newMembersContainer,
    .recentActivityContainer,
    .messageUserWidget,
    .settingsContainer {
        display: inline-block;
    }

    .mainTraffic, 
    .socialStats {
        grid-column: 1 / span 2;
    }

    .dailyTraffic, 
    .newMembers, 
    .messageUserWidget {
        grid-column: 1 / span 1;
    }

    .mobileChart, 
    .recentActivityContainer, 
    .settingsContainer {
        grid-column: 2 / span 1;
    }

    .socialStats {
        flex: 1;
        justify-content: space-evenly;
    }

    .socialFacebookStats,
    .socialTwitterStats,
    .socialGoogleStats {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin: 0 30px;
    }

    .newMembers,
    .recentActivityContainer,
    .messageUserWidget,
    .settingsContainer {
        flex: 1;
    }

    .settingsContainer {
        border-left: 1px solid rgb(144, 142, 152);
    }

}

@media (min-width: 1024px) {
    .socialStats {
        display: flex;
    }

    .messageUserWidget,
    .settingsContainer, 
    .newMembers,
    .recentActivity, 
    .dailyTraffic,
    .mobileChart {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }

    .settingsField, 
    .messageArea, 
    .messageField, 
    .mainSearch {
        width: 100%;
        font-size: 14px;
        outline: 0;
        border: none;
        border: 1px solid #dadada;
        border-radius: 5px;
        color: #818181;
        background: #FBFBFB;
        padding: 10.5px 18px;
        display: block;
}

}