* {
    box-sizing: border-box;
    font-family: 'Lato', serif;
}

html { height: 100%; }
body { min-height: 100%; }

.grid-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main";
} 

canvas {
    width: 100%;
    height: auto;
}

p {
    padding-left: 10px;
    margin: 15px;
}

a {
    color: #0958D5;
    text-decoration: none;
    padding-left: 15px;
    font-size: 10px;
}

.navA {
    padding-left: 0;
}

h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding: 25px 25px;
    /* padding: 0 0 25px; */
    margin: auto;
    text-align: center;
    margin-top: 50px;
}


.thin {
    display: none;
}

.thin2 {
    background-color:  #0958D5;
    border: 3px solid  #0958D5;
    height: 4px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

ul {
    padding-left: 0;
}

/* STARTs Main Header*/
.header {
    align-items: center;
    background-color: #0958D5;
    display: flex;
    flex-wrap: wrap;
    grid-area: header;
    justify-content: space-between;
    padding: 5px 0;
}


.header .header-logo {
    margin: auto;
    padding-top: 5px;
}

.header .header-logo h1 {
    color: #FFF;
    font-family: 'Lato', serif;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
}

.header .header-logo h1 span {
    font-weight: 700;
}

.header .header-nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.header .header-nav .notifications svg {
    display: block;
    height: 24px;
    width: 24px;
}

.header .header-nav .divider {
    background-color:white;
    display: block;
    height: 30px;
    margin: 0 20px;
    width: 2px;
}

.header .header-nav .profile img{
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


.circle {
    height: 10px;
    width: 10px;
    border: 1px solid black;
}

.header .header-nav .name {
    display: none;
    color: white;
    margin: auto 10px;
}

.header .icon-fill {
    fill:#FFFFFF;
}

.notifications {
    transition: transform 1s ease-in-out;
}

.notifications:hover {
    transform: rotate(360deg);
}
/* ENDs Main Header*/


/* STARTs Main Nav*/
.nav {
    margin: auto;
}
.nav-icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #0FFCE2;
    padding: 15px;
}

.navlink-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav-clicked-slider-desktop {
    display: none;
}

.navlink {
    width: 35px;
    margin: auto 10px;
}

a {
    background-color: transparent;
    color:#0958D5;
    text-decoration: none;
    font-size: 10px;
}

.navlink svg {
    fill: #0958D5;
    stroke-width: 3;
}

.navlink svg:hover {
    fill: #000;
    stroke-width: 3;
}

/* ENDs Main Nav*/


.logoImg {
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 50px auto 0;
}


/* STARTs Main Search*/

.main { 
    grid-area: main;
    text-align: center; 
}

.flesh-dash {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.main h2 {
    color: rgb(119, 118, 118);
    font-size: 25px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    padding: 25px 25px;
}

.main .main-search {
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    justify-content: flex-end;
    width: 400%;
}

.main .main-search input {
    appearance: none;
    border: 0;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    display: block;
    height: 40px;
    line-height: 20px;
    padding: 10px 15px;
    width: 90%;
    margin: auto;
}

.alert {
    display: flex;
    flex-wrap: wrap;
}

.alertText {
    margin: 0;
    margin-left: 8px;
    font-size: 12px;
    padding: 0;
}

.alert-banner {
    align-items: center;
    background-color: #0958D5;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 40px;
    width: 90%;
    
}

.alert-banner-close {
    cursor: pointer;
    float: right;
    padding-right: 0;
}
/* ENDs Main Search*/



/* STARTs Main Container*/
.mainContainer {
    grid-area: mainContainer; 
    margin: 0 15px 15px 15px;
}

.mainTab {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.main h2 {
    margin-top: 0;
    color: #0958D5;
    font-size: 40px;
    font-weight: 900;
    height: 30px;
    line-height: 30px;
    padding: 25px 25px;
    margin: auto;
    text-transform: uppercase;
}

.mainContainer .mainSearch  {
    align-items: center;
    background-color: rgba(214, 210, 210, 0.651);
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    justify-content: flex-end;
    padding-right: 20px;
    width: 400%;
}

.mainContainer .mainSearch input {
    appearance: none;
    border: 0;
    border: 1px solid rgb(116,116,116);
    border-radius: 4px;
    display: block;
    height: 40px;
    line-height: 20px;
    padding: 10px 15px;
    width: 40%;
}
/* ENDs Main Container*/



/* STARTs Main Traffic*/

.widget-container-full {
    margin: auto;
    text-align: center;
}

#traffic {
    color: black;
    display: block;
    font-size: 15px;
    font-weight: 700;
    justify-content: space-between;
    line-height: 30px;
    padding: 0 15px 0;
    text-align: center;
}

.traffic-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.trafficHeadline {
    font-size: 25px;
    margin: auto;
    padding-bottom: 20px;
    color:#0958D5;
}

.traffic-nav {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    list-style: none;
}

.traffic-nav-link {
    padding: 2px 10px;
    font-size: 12px;
    text-align: center;
}

.traffic-nav-link:hover {
    color: black;
    background-color: #0FFCE2;
    border-radius: 5%;
}

.traffic-nav-link:active {
    color: black;
    background-color: #0FFCE2;
    border-radius: 5%;
} 
/* ENDs Main Traffic*/


/* STARTs Daily Traffic*/
.daily {
    padding: 15px 25px;
}
.daily, 
.mobile {
    align-items: center;
    color: rgb(119, 118, 118);
    padding-bottom: 30px;
    padding-top: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

.mobile {
}

.daily-heading,
.mobile-heading {
    color: rgb(119, 118, 118);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 40px;
    margin: auto;
    text-align: center;
}



/* STARTs Mobile Chart*/
.mobileChart {
    align-items: center;
    color: rgb(119, 118, 118);
    padding-bottom: 30px;
    border-top: 1px solid lightgray;
}

.dailyTraffic,
.mobileChart {
  padding-bottom: 30px;
  border-bottom: 1px solid #dadada;
}

/* STARTs Social Stats*/
.social-container {
    padding: 10px 10px;
}

#socials {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.social-image-twitter, 
.social-image-facebook, 
.social-image-google {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% auto;
    margin: 0% auto;
} 

.social-heading, 
.members h3, 
.recent-activity h3,
.settings1 h3,
.settings2 h3 {
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding: 25px 25px;
    padding: 0 0 25px;
    margin: auto;
    text-align: center;
}

.recent-activity h3 {
    margin-top: 40px;
    color: black;
}

.social-name {
    color:  #0958D5;
    font-size: 18px;
    margin-bottom: auto;
    line-height: 20px;
}

.twitter-circle, 
.facebook-circle, 
.google-circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50%;
    background-color: #0958D5;
    width: 50px;
    height: 50px;
} 

.twitter-box, 
.facebook-box, 
.google-box {
    background-color: #ECECEC;
    border-radius: 5px;
    padding: 10px 10px;
}


.social-text,
.facebook-text,
.google-text {
    text-align: left;
}

.twitter-box:hover, 
.facebook-box:hover, 
.google-box:hover {
    background-color: rgba(279, 279, 279, 0.85);
    transform: scale(1.05);
}


.number {
    color: rgb(119, 118, 118);
    font-weight: 600;
    font-size: 33px;
    line-height: 10px;
    margin: 15px;
}

.twitter-svg, 
.google-svg {
    padding-top: 15px;
    width: 50%;
} 

.facebook-svg {
    padding-top: 0;
    padding-right: 35px;
    width: 50%;
} 
/* ENDs Social Stats*/

/* STARTs New Members + Recent Activity*/

.member-activity-container {
    display:flex;
    flex-wrap: wrap;
    margin:  auto;
}

#members {
    color: rgb(119, 118, 118);
    padding: 15px 25px;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    
}

.membersHeadline {
    margin-top: 5px;
}

.recent-activity {
    color: rgb(119, 118, 118);
    padding: 15px 25px;
}

.members-container, 
.recent-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-between;
}

.member-1, 
.member-2, 
.member-3, 
.member-4, 
.recent-1, 
.recent-2, 
.recent-3, 
.recent-4  {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    font-size: 13px;
    background-color: white;
    padding: 5px 5px;
}

.member-1:hover, 
.member-2:hover, 
.member-3:hover, 
.member-4:hover, 
.recent-1:hover, 
.recent-2:hover, 
.recent-3:hover, 
.recent-4:hover  {
    background-color: #ECECEC;
    transform: scale(1.05);
}

.member-1, 
.member-2, 
.member-3, 
.member-4 {
    padding-top: 10px;
}

.member-4, 
.recent-4 {
    border-bottom: none;
}

.date,
.hour {
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.date {
    margin-left: 0;
}

.names,
.activityText {
    margin: 5px;
    font-size: 12px;
    color: black;
    text-align: left;
}

.activityText {
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    margin: 8px;
    line-height: 1.1;
    color: black;
}

.recent-container span {
    margin-left: auto;
    font-weight: 900;
    font-size: 26px;
}


.members img, 
.recent-activity img {
    align-content: center;
    border-radius: 50%;
}

.arrowImg {
    width: 20px;
    height: 20px;
}

.memberImg {
    align-content: center;
    border-radius: 50%;
    width: 60px;
}

.member-activity-container {
    flex-direction: column;
}
/* ENDs New Members + Recent Activity*/


/* STARTs SETTINGS*/
#settings {
    display: grid;
    margin: auto;
    margin-top: auto;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.settings1 {
    border-bottom: 1px solid #714fce;
    border-bottom-color: rgb(113, 79, 206);
    padding: 30px 0;
}

.message-user-textarea {
    height: 100%;
    resize: none;
}

.messageHeadline {
    margin-top: 10px;
}

.message-user-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 403px;
}
  
.message-user-input,
.message-user-textarea {
    margin: 5px auto;
    width: 100%;
    box-sizing: border-box;
    background:  #ECECEC;;
    color: black;
    padding: 10px;
}
  
.message-user-textarea {
    height: 100%;
    resize: none;
}
  
.send-btn {
    margin: 5px auto;
    width: 100%;
    background: #714fce;
    border: none;
    color: white;
}
  
button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

* button {
    width: auto;
    text-transform: uppercase;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.4s;
    
}


* button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.send-btn {
    margin: 5px auto;
    width: 100%;
    background: #0FFCE2;
    border: none;
    color: black;
}

.settings2 {
    padding: 30px 20px;
    color: white;
    border-bottom: 1px solid #0958D5;
    border-bottom-color: #0FFCE2;
}

.setting-options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.settings-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 5px auto;
    padding: 15px;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    transition: 0.8s;
}

.sendText {
    text-align: center;
    margin: auto;
}

input[type="checkbox"] {
    margin: 15px auto;
    position: relative;
    width: 60px;
    height: 20px;
    -webkit-appearance: none;
    background: #0958D5;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.input-active {
    background: #363e4e !important;
}
  
input[type=checkbox]:hover {
    transform: scale(1.3);
    cursor: pointer;
}
  
input:checked[type=checkbox] {
    background: #0FFCE2;
}
  
input[type=checkbox]:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: white;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}
  
input:checked[type=checkbox]:before {
    left: 40px;
}

* input, textarea {
    border-radius: 3px;
    background-color: #ECECEC;
    border: none;
    outline: none;
    padding: 5px;
}


/* STARTs Time Zone*/

.form-field {
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.form-area {
    border-radius: 5px;
    padding-bottom: 90px;
    margin-top: 10px;
}

/* STARTs Save and Cancel Buttons*/
.save, 
.cancel {
    border: none;
    width: 100%;
    margin: 5px auto;
}

.save {
    background-color: #0FFCE2;
    color: black;
}

.cancel {
    background-color: #0958D5;
    color: white;
}



/* STARTs Media Queries */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }

    .header .header-nav .name {
        display: initial;
    }

    .main {
        grid-template-columns: 50%;
        margin-top: -10px;
    }

    .main .main-search {
        grid-template-columns: 50%;
        background-color: rgba(214, 210, 210, 0.651);
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        width: 65px;
    }

    .thin {
        background-color: #0FFCE2;
        border: 1px solid #0FFCE2;
        height: 2px;
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .daily, 
    .mobile, 
    .members, 
    .recent-activity, 
    .message, 
    .settings {
        display: inline-block;
        flex-wrap: wrap
    }

    .mobile {
        border-top: none;
        border-left: 1px solid lightgray;
    }

    .traffic-chart, 
    .social {
        grid-column: 1 / span 2;
    }

    .daily, 
    .members, 
    .message {
        grid-column: 1 / span 1;
    }

    .members {
        border-right: 1px solid rgb(116,116,116);
    }

    .member-1, 
    .member-2, 
    .member-3, 
    .member-4, 
    .recent-1, 
    .recent-2, 
    .recent-3, 
    .recent-4  {
        border-bottom: 1px solid rgb(179, 179, 179);
    }


    .date {
        align-items: center;
        justify-content: flex-start;
        margin-left: auto;
        font-size: 12px;
    }

    .mobile, 
    .activity, 
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full, 
    .widget-container-half {
        width: 95vw;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half, 
    .mobile-users-container {
        width: 45vw;
    }

    .social-container {
        flex: 1;
        justify-content: space-evenly;
    }

    .twitter-box, 
    .facebook-box, 
    .google-box {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 30px;
    }

    .members, 
    .recent-activity {
        flex: 1;
    }

    .member-activity-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .user-settings {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .message, .settings {
        flex: 1;
    }

    .settings {
        border-left: 1px solid rgb(144, 142, 152);
    }

    .setting-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 30px;
        padding-bottom: 30px;
        height: 100%;
    }

    .settings-container {
        flex: 1;
    }
}

@media (min-width: 1024px) {
    .socials {
        display: flex;
        flex-wrap: wrap;
    }

    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            'header header'
            'nav' 'main'
    }

    .header {
        grid-column: 1 / span 2;
    }

    .nav {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        width: 65px;
        height: 100vh;
        box-sizing: border-box;
        box-shadow: none;
    }

    .main {
        grid-column: 2 / span 2;
        grid-row: 2 /span 2;
        grid-template-columns: 50%;
    }

    .members {
        grid-template-columns: repeat(2, 1fr);
        border-bottom: 1px solid;
    }
    .settings {
        grid-template-columns: repeat(2, 1fr);
    }
    .nav-icon-container {
        height: 100%;
        @include flexCol;
        justify-content: space-between;
    }
    .navlink-group {
        @include flexCol;
        justify-content: space-evenly;
    }
    .navlink {
        width: 30px;
        margin: 10px auto;
    }

    

}



